= widget_div do
  .logbar
    = @logfile
  #log-dir-group.panel.hide
    .tail_panel
      = render_widget :tail, :show

:coffeescript
  jQuery ->
    $(".logbar").click ->
      toggleDiv('log-dir-group')
      window.refreshTimer()
